/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/



.contact{
  
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}


.contact .container, 
.contact .contactForm, 
.contact .contactForm .conditions,
.contact .contactForm .closeBtn{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.contact .contactForm{
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
  height: 600px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 29px 5px rgba(0,0,0,0.35);
          box-shadow: 0px 4px 29px 5px rgba(0,0,0,0.35);
  padding: 0 60px;
}
.contact .contactForm .name-email{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.contact .contactForm .closeBtn{
  color: rgb(42, 42, 42);
  font-size: 24px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 29px 5px rgba(0,0,0,0.35);
          box-shadow: 0px 4px 29px 5px rgba(0,0,0,0.35);
  width: 50px;
  height: 50px;
  position: relative;
  top: -81%;
  left: 105%;
}
.contact .contactForm fieldset{
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: black;
  padding-top: 20px;
}
.contact .contactForm input, 
.contact .contactForm textarea, 
.contact .contactForm button{

  height: 50px;
  width: 40%;
  border: 1px solid black;
  padding-left: 10px;
}
.contact .contactForm .name-email input{
  margin-right: 60px;
}
.contact .contactForm textarea{
  height: 30%;
  width: 100%;
  resize: none;

}
.contact .contactForm .conditions{
  color: black;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.contact .contactForm .conditions input{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.contact .contactForm button{
  margin: auto;
  color: white;
  background-color: #f5343f;
  border: none;
}

@media screen and (max-width:1200px){
  

  .contact .contactForm{
    width: 80%;
  }
  
}
@media screen and (max-width:995px){
  .contact .contactForm {
    height: 700px;
  }
  .contact .contactForm .closeBtn{
    top: -86.5%;
    left: 108%;
  }
  .contact .contactForm input{
    width: 60%;
  }
  .contact .contactForm .name-email input{
    margin-top: 20px;
  }

}
@media screen and (max-width:550px){
 
  .contact .contactForm{
    width: 90%;

  }
  .contact .container{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact .contactForm{
    padding: 10px 20px;
  }
}
@media screen and (max-width:400px){

  .contact .contactForm .closeBtn{
    top: -90%;
    left: 100%;
  }
}