/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "./contact.css";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700;900&display=swap');
@import url(../fonts/Avenir/AvenirLTStd-Light.otf);

*{
    font-family: "Bodoni Moda";
}
body{
    background-image: url(../img/Visuels/Shop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
main{
    color: white;
}

.boutique, .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
}

.boutique .logo{
    height: 200px;
    margin-bottom: 100px;
}

.boutique .logo img{
    width: 350px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    position: fixed;
    margin: 0 auto;
    top: 90px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.boutique .logo img:hover{
    -webkit-transform: translateX(-50%) scale(1.4);
        -ms-transform: translateX(-50%) scale(1.4);
            transform: translateX(-50%) scale(1.4);
}
.boutique .products{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90vw;
}

.boutique .products .product{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 400px;
    height: 620px;
    margin: 0 20px 50px 20px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    background-color: rgba(0, 0, 0, 0.596);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
}
.boutique .products .product img{
    width: 400px;
    height: 400px;
    -webkit-box-shadow: 0px 4px 29px 5px rgba(0,0,0,0.5);
            box-shadow: 0px 4px 29px 5px rgba(0,0,0,0.5);

}

 
.sizes,
.price, 
.name,
.type{
    margin: 5px auto;
    text-shadow: 0px 0px 10px #000000;
}

.boutique .products .product .type{
    font-size: 16px;
}
.boutique .products .product .description{
    max-height: 125px;
    overflow: scroll;
}
.boutique .products .product .description::-webkit-scrollbar {
    display: none;
}
.boutique .products .product .sizes{
    font-size: 14px;
}
.boutique .products .product .price::after{
    content: "€";
}
.boutique .shopBasket{
    width: 40px;
    height: 40px;
    color: black;
    position: absolute;
    top: 52.5%;
    left: 80%;
}
.boutique .shopBasket i{
    font-size: 40px;
    color: black;
    padding: 0 2px;
    transition: all .35s;
    text-shadow: 0px 0px 10px #FFFFFF;
}
.boutique .shopBasket i:hover{
    text-shadow: 0px 0px 20px #FFFFFF;
}
.customButton{
    margin: 5px auto;
}


.customButton a:hover{
    background-color: inherit;
}
.customButton:hover svg{
    opacity: 0;
}



@media all and (max-width:970px){
    .boutique .products .product{
        width: 300px;
        height: 500px;
    }
    .boutique .products .product img{
        width: 300px;
        height: 300px;
    }
    .boutique .shopBasket{
        top: 50%;
    }
}

@media all and (max-width:550px){
    .boutique .products{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 20px auto;
        width: 100%;
    }
    .boutique .products .product{
        width: 400px;
        height: 620px;
    }
    .boutique .products .product img{
        width: 400px;
        height: 400px;

    }
    .sizes,
    .price, 
    .name,
    .type{
        margin: 8px 20px;
        text-shadow: 0px 0px 10px #000000;
    }
    .boutique .shopBasket{
        top: 52.5%;
    }
}
@media all and (max-width:420px){
    
    .boutique .products .product{
        width: 300px;
        height: 520px;
    }
    .boutique .products .product img{
        width: 300px;
        height: 300px;

    }
    
}