/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "./contact.css";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700;900&display=swap');
@import url(../fonts/Avenir/AvenirLTStd-Light.otf);

*{
    font-family: "Bodoni Moda";
}
body{
    background-image: url(../img/Visuels/Shop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
body.expanded{
    overflow: hidden;
}
main{
    color: white;
}

.boutique, .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
}

.boutique .logo{
    height: 200px;
    margin-bottom: 100px;
}

.boutique .logo img{
    width: 350px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    position: fixed;
    margin: 0 auto;
    top: 90px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.boutique .logo img:hover{
    -webkit-transform: translateX(-50%) scale(1.4);
        -ms-transform: translateX(-50%) scale(1.4);
            transform: translateX(-50%) scale(1.4);
}

.boutique .basketToggle{
    width: 60px;
    height: 50px;
    position: fixed;
    left: 92%;
    top: 160px;
    z-index: 5;
}
.boutique .basketToggle span{
    position: relative;
    top: 30px;
    color: white;
    font-weight: 700;
}
.boutique .basketToggle i{
    color: black;
    font-weight: 900;
    font-size: 50px;
    position: absolute;
    margin: 0;
}

.boutique .basket{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh!important;
    top: 75px;
    z-index: 4!important;
    background-color: rgba(255, 255, 255, 0.486);
    backdrop-filter: blur(10px);
}
.boutique .basket.expanded{
    display: block;
}
.boutique .basket .container{
    width: 500px;
    background-color: rgba(160, 105, 105, 0.486);
    backdrop-filter: blur(10px);
    margin: 50px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .35s;

}
.boutique .basket h1, 
.boutique .basket span{
    margin-right: auto;
    text-shadow: 0px 0px 10px #000000
    ;
}
.boutique .basket h1{
    font-size: 2rem;
    width: 100%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.561);
    padding-bottom: 10px;
}
.boutique .basket .productsFromBasket{
    width: 100%;
    height: auto;
    max-height: 480px;
    padding: 0;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

}
.boutique .basket .productsFromBasket::-webkit-scrollbar {
    display: none;
  }
.boutique .basket .productsFromBasket  .productFromBasket{
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boutique .basket .productsFromBasket .productFromBasket img{
    width: 75px;
    height: 75px;
}
.boutique .basket .productsFromBasket .productFromBasket ul{
    width: 325px;
    height: 75px;
    list-style: none;
    padding:15px 0 15px 10px;
    text-shadow: 0px 0px 10px #000000
    ;
}
.boutique .basket .productsFromBasket .productFromBasket .nbProduct{
    padding-left: 5px;
    margin-right: 0;
}
.boutique .basket .productsFromBasket .productFromBasket .nbProduct::after{
    content: " x ";    
}
.boutique .basket .productsFromBasket .productFromBasket .price{
    padding-left: 5px;
    padding-bottom: 15px;
    margin: auto 5px;
}
.boutique .basket .productsFromBasket .productFromBasket .price::after{
    content: "€";
}
.boutique .basket .productsFromBasket .productFromBasket .more-less{
    width: 60px;
    height: 20px;
    margin-left: auto;
}
.boutique .basket .productsFromBasket .productFromBasket .more-less a{
    width: 25px!important;
    height: 25px!important;
    position: relative;
    color: #E34747;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #E34747;
    margin: 0 1px;
    left: 0;
}
.boutique .basket .productsFromBasket .productFromBasket .more-less .less{
    left: 30px;
    top: -25px;
}
.boutique .basket .total{
    width: 100%;
    border-top: 5px solid  rgba(255, 255, 255, 0.561);
    text-align: center;
    padding-top: 10px;
    text-shadow: 0px 0px 10px #000000;
    font-size: 1.5rem;
}
.boutique .basket .total::before{
    content: "SOUS-TOTAL ";
}
.boutique .basket .total::after{
    content: "€";
}
.boutique .basket .buy{
    width: 100%;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: #E34747;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boutique .basket .buy span{
    margin: 0;
    text-shadow: none
    ;
}



/* products */



.boutique .products{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90vw;
    z-index: 0!important;
    
}

.boutique .products .product{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 400px;
    height: 620px;
    margin: 0 20px 50px 20px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    background-color: rgba(0, 0, 0, 0.596);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
}
.boutique .products .product img{
    width: 400px;
    height: 400px;
    -webkit-box-shadow: 0px 4px 29px 5px rgba(0,0,0,0.5);
            box-shadow: 0px 4px 29px 5px rgba(0,0,0,0.5);

}

 
.sizes,
.price, 
.name,
.type{
    margin: 5px auto;
    text-shadow: 0px 0px 10px #000000;
}

.boutique .products .product .type{
    font-size: 16px;
}
.boutique .products .product .description{
    max-height: 125px;
    overflow: scroll;
}
.boutique .products .product .description::-webkit-scrollbar {
    display: none;
}
.boutique .products .product .sizes{
    font-size: 14px;
}
.boutique .products .product .price::after{
    content: "€";
}
.boutique .shopBasket{
    width: 40px;
    height: 40px;
    color: black;
    position: absolute;
    top: 52.5%;
    left: 80%;
}
.boutique .shopBasket i{
    font-size: 40px;
    color: black;
    padding: 0 2px;
    transition: all .35s;
    text-shadow: 0px 0px 10px #FFFFFF;
}
.boutique .shopBasket i:hover{
    text-shadow: 0px 0px 20px #FFFFFF;
}
.customButton{
    margin: 5px auto;
}


.customButton a:hover{
    background-color: inherit;
}
.customButton:hover svg{
    opacity: 0;
}
@media all and (max-width:1150px){
    .boutique .basketToggle{
        top: 10px;
        z-index: 5;
    }
    .boutique .basketToggle span{
        color: black;
    }
}


@media all and (max-width:970px){
    .boutique .products .product{
        width: 300px;
        height: 500px;
    }
    .boutique .products .product img{
        width: 300px;
        height: 300px;
    }
    .boutique .shopBasket{
        top: 50%;
    }
}

@media all and (max-width:550px){
    .boutique .basketToggle{
        left: 85%;
    }
    .boutique .products{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 20px auto;
        width: 100%;
    }
    .boutique .products .product{
        width: 400px;
        height: 620px;
    }
    .boutique .products .product img{
        width: 400px;
        height: 400px;

    }
    .sizes,
    .price, 
    .name,
    .type{
        margin: 8px 20px;
        text-shadow: 0px 0px 10px #000000;
    }
    .boutique .shopBasket{
        top: 52.5%;
    }



    .boutique .basket{
      background-color: inherit;
        backdrop-filter: blur(0);
        background-image: url(../img/Visuels/Shop-mobile.png);
        background-size: cover;
    }
    .boutique .basket .container{
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0);
        margin-top: 0;
    }



    .boutique .basketToggle span{
        position: relative;
        top: 25px;
        
    }
    .boutique .basketToggle i{
        top: 5px;
        font-size: 40px;

    }
    
}
@media all and (max-width:420px){
    
    .boutique .products .product{
        width: 300px;
        height: 520px;
    }
    .boutique .products .product img{
        width: 300px;
        height: 300px;

    }
    .boutique .shopBasket{
        top: 47%;
    }


    .boutique .basket .container{
        width: 100%;
        margin: 0!important;
        padding: 50px 10px;
    }

    .boutique .basket .productsFromBasket .productFromBasket ul{
        width: 75%;
    }

    .boutique .basket .productsFromBasket .productFromBasket .more-less{
        width: 60px;
        height: 20px;
        margin-left: auto;
    }
    .boutique .basket .productsFromBasket .productFromBasket .more-less a{
        width: 30px!important;
        height: 30px!important;
        left: -10px;
    }
   
    .boutique .basket .productsFromBasket .productFromBasket .more-less .less{
        left: 30px;
        top: -30px;
    }
    
    
}