@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700;900&display=swap');
@import url(../fonts/Avenir/AvenirLTStd-Light.otf);



.cover, .videos, .visuel, .tour, .contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cover{
  background-image: url(../img/lana-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
}
.cover .reseaux{
  
  margin: 20px 20px;
  margin-left: auto;
  height: 100px;
}
.cover .reseaux li{
  opacity: 0.4;
  margin: 0 5px;
  
}
.cover .reseaux li svg{
  fill: white;
}
.cover .reseaux li:hover{
  opacity: 1;
}
.cover .toWatchVideo{
  position: absolute;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 250px;
  
  
  
}
.cover .toWatchVideo a{
  position: absolute;
  min-width: 400px;
  height: 70px;
  padding: 30px 30px 70px 30px;
  text-decoration: none;
  color: #c95151;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid #c95151;
  font-size: 16px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  transition: all .50s;
}
.cover .toWatchVideo a:hover{
  transform: translate(-50%, -50%) scaleX(1.2);
  padding: 40px 50px 80px 50px;
  
}
.cover .toWatchVideo span{
  display: block;
  position: relative;
  margin: -20px auto;
  padding: 10px 0;
  transition: all .50s;
  
}
.cover .toWatchVideo a:hover span{
  transform: scale(1.2)
  
}

.arrow{
  width: 75px;
  height: 70px;
  z-index: 2;
  margin: auto;
  display: block;
  transform: scale(0.3);
  transition: all .50s;
}

polygon {
  fill: #c95151;
}
.videos, .visuel, .tours, .contact{
  height: 100vh;
}
.videos{
  background-color: #9a7676;
}
.videos .container, 
.tours .container, 
.contact .container, 
.contact form, 
.contact form .conditions,
.contact form .closeBtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videos .container{
  transform: scale(0.6);
  position: absolute;
  top: 650px;
  transition: all .35s;
}
.videos .reseaux{
  margin-top: 20px;
}
.videos .reseaux ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 50px;

}
.videos .reseaux ul li{
  margin: 0 5px;
}
.videos li img:hover {
  transition: ease .35s;
  width: 55px;
}

.visuel{
  background-color: #c95151;
}

.video-js .vjs-big-play-button {
  width: 70px;
  height: 70px;
  border-radius:50%;
  top: 47%;
  left: 47%;
  background-color: white;
  color: black;
  border: none;
  content: "\f125"!important;
}
.video-js:hover .vjs-big-play-button {
  background-color: white;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before{
    top: 12px;
}
.vjs-theme-city .vjs-control-bar{
  top: 87%;
}
.tours .container{
  margin: 0px auto;
}
.tours .container h1{
  margin: 80px auto 10px;

}
.tours .usaTour{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.411);
  width: 100%;
}

.tours .usaTour .more-less-dates{
  width: 200px;
  height: 50px;
  background-color: #fffcfc;
  border: 1px solid rgba(0, 0, 0, 0.411);
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  transition: all .35s;
}
.tours .usaTour .more-less-dates:hover{
  color: white;
  background-color: black;
  
}
.tours .usaTour .usa{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-size: 80px;
  font-weight: 900;
}
.tours .usaTour .dates{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%!important;
}
.tours .usaTour .dates .date{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px 20px;
}
.tours .usaTour .dates .date .day-month-year{
  font-size: 26px;
}
.tours .usaTour .dates .date .city{
  font-size: 30px;
  font-weight: 900;
}
.tours .usaTour .dates .date .place{
  font-family: "Avenir";
  font-size: 30px;
}


.contact{
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 4;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}
.contact form{
  align-items: flex-start;
  width: 55%;
  height: 70%;
  background-color: white;
  box-shadow: 0px 4px 29px 5px rgba(0,0,0,0.35);
  padding: 0 60px;
}
.contact form .name-email{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.contact form .closeBtn{
  color: rgb(42, 42, 42);
  font-size: 24px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 4px 29px 5px rgba(0,0,0,0.35);
  width: 50px;
  height: 50px;
  position: fixed;
  top: -25px;
  left: 98%;

}
.contact form fieldset{
  align-self: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: black;
  padding-top: 20px;
}
.contact form input, 
.contact form textarea, 
.contact form button{

  height: 50px;
  width: 40%;
  border: 1px solid black;
  padding-left: 10px;
}
.contact form .name-email input{
  margin-right: 60px;
}
.contact form textarea{
  height: 30%;
  width: 100%;
  resize: none;

}
.contact form .conditions{
  flex-direction: row;
}
.contact form .conditions input{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.contact form button{
  margin: auto;
  color: white;
  background-color: #f5343f;
  border: none;
}
@media screen and (max-width:1100px){
  .contact form .closeBtn{
    left: 96%;
  }
  .contact form{
    width: 80%;
  }
}
@media screen and (max-width:900px){
  .contact form input{
    width: 60%;
  }
  .contact form .name-email input{
    margin-top: 20px;
  }
}
@media screen and (max-width:550px){
  .contact form .closeBtn{
    left: 95%;
  }
  .contact form{
    width: 90%;
    height: 75%;
  }
}