@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700;900&display=swap');
@import url(../fonts/Avenir/AvenirLTStd-Light.otf);



.cover, .videos, .visuel, .tour, .contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cover{
  background-image: url(../img/Visuels/Visuel\ home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.cover .reseaux{
  
  margin: 20px 20px;
  margin-left: auto;
  height: 100px;
}
.cover .reseaux li{
  opacity: 0.8;
  margin: 0 5px;
  
}
.cover .reseaux li svg{
  fill: white;
}
.cover .reseaux li:hover{
  opacity: 1;
}
.cover .toWatchVideo{
  position: absolute;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 250px;
    
}
.cover .toWatchVideo a{
  position: absolute;
  min-width: 400px;
  height: 50px;
  padding: 30px 30px 50px 30px;
  text-decoration: none;
  color: white;
  background-color:#E34747;
  backdrop-filter: blur(5px);
  font-size: 16px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  transition: all .50s;
}
.cover .toWatchVideo a:hover{
  transform: translate(-50%, -50%) scaleX(1.1);
  padding: 40px 40px 60px 40px;
  
}
.cover .toWatchVideo span{
  display: block;
  position: relative;
  margin: -20px auto;
  padding: 10px 0;
  transition: all .50s;
  
}
.cover .toWatchVideo a:hover span{
  transform: scale(1.2)
  
}

.arrow{
  width: 75px;
  height: 70px;
  z-index: 2;
  margin: auto;
  display: block;
  transform: translateY( -20%) scale(0.3);
  transition: all .50s;
}

polygon {
  fill: white;
}
.cover, .videos, .visuel, .tours, .contact{
  height: 100vh;
}
.cover .logo{
  display: none;
}
.videos{
  background-image: url(../img/Visuels/Chemtrails.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.videos .container, 
.tours .container, 
.contact .container, 
.contact form, 
.contact form .conditions,
.contact form .closeBtn,
.videos .more-videos, 
.videos .shopBtn,
.mobileBookBtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videos .container{
  transform: scale(0.6);
  position: absolute;
  top: 600px;
  transition: all .35s;

}
.videos iframe{
  width: 78%;
  height:  570px;
  box-shadow: 0px 4px 29px 8px rgba(0,0,0,0.49);
}

.videos .more-videos, 
.videos .shopBtn,
.mobileBookBtn{
  text-decoration: none;
  color: white;
  width: 270px;
  height: 60px;
  background-color: #c95151;
  box-shadow: 0px 4px 29px 8px rgba(0,0,0,0.49);
  margin: 20px auto;
  transition: all .35s;
}
.videos .more-videos:hover, 
.videos .shopBtn:hover,
.mobileBookBtn:hover{
  transform: scale(1.1);
}

.videos .more-videos,
.videos h1,
.videos iframe,
.videos .reseaux{
  margin: 20px auto;
}
.videos .avis{
  margin: 40px auto;
}
.videos h1{
  padding-bottom: 10px;
}
.videos .reseaux ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 50px;

}
.videos .reseaux ul li{
  margin: 0 5px;
}
.videos li img:hover {
  transition: ease .35s;
  width: 55px;
}
.videos .avis{
  display: none;
}
.visuel{
  background-image: url(../img/Visuels/Tour\ visuel.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;
  align-items: flex-end;
}
.visuel img{
  position: absolute;
  width: 40%;
}

.tours .container{
  margin: 0px auto;
}
.tours .container h1{
  margin: 80px auto 10px;

}
.tours .usaTour, 
.tours .europeTour{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.411);
  width: 100%;
  margin-bottom: 50px;
  height: auto;
  padding: 10px 0;
  
}
.mobileBookBtn{
  display: none;
}
.tours .more-less-dates-for-usa, 
.tours .more-less-dates-for-europe{
  width: 200px;
  height: 50px;
  background-color: #fffcfc;
  border: 1px solid rgba(0, 0, 0, 0.411);
  position: relative;
  top: -75px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .35s;
}
.tours .more-less-dates-for-usa:hover, 
.tours .more-less-dates-for-europe:hover{
  color: white;
  background-color: black;
  
}
.tours .usaTour .usa,
.tours .europeTour .europe{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: 80px;
  font-weight: 900;
}
.tours .europeTour .europe::after{
  content: "EUROPE";
}
.tours .dates{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%!important;
  max-height: 440px;
  overflow: hidden;
  transition: max-height 500ms;
}
.tours .dates.expanded{
  max-height: 2000px;
  
}
.tours .dates .date{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px 20px;
}
.tours .dates .date .day-month-year{
  font-size: 26px;
}
.tours .dates .date .city{
  font-size: 30px;
  font-weight: 900;
}
.tours .dates .date .place{
  font-family: "Avenir";
  font-size: 30px;
}
.tours .usaTour .usa div,
  .tours .europeTour .europe div{
    display: none;
  }

.contact{
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 4;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}
.contact form{
  align-items: flex-start;
  width: 55%;
  height: 70%;
  background-color: white;
  box-shadow: 0px 4px 29px 5px rgba(0,0,0,0.35);
  padding: 0 60px;
}
.contact form .name-email{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.contact form .closeBtn{
  color: rgb(42, 42, 42);
  font-size: 24px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 4px 29px 5px rgba(0,0,0,0.35);
  width: 50px;
  height: 50px;
  position: fixed;
  top: -25px;
  left: 98%;

}
.contact form fieldset{
  align-self: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: black;
  padding-top: 20px;
}
.contact form input, 
.contact form textarea, 
.contact form button{

  height: 50px;
  width: 40%;
  border: 1px solid black;
  padding-left: 10px;
}
.contact form .name-email input{
  margin-right: 60px;
}
.contact form textarea{
  height: 30%;
  width: 100%;
  resize: none;

}
.contact form .conditions{
  flex-direction: row;
}
.contact form .conditions input{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.contact form button{
  margin: auto;
  color: white;
  background-color: #f5343f;
  border: none;
}

@media screen and (max-width:1030px){
  .videos iframe{
    width: 100%;
    height:  400px;
  }
  .contact form .closeBtn{
    left: 96%;
  }
  .contact form{
    width: 80%;
  }
  
  .visuel img{
    width: 60%;
  }
  .tours .europeTour .europe::after{
    content: "UE";
  }
}
@media screen and (max-width:900px){
  .contact form input{
    width: 60%;
  }
  .contact form .name-email input{
    margin-top: 20px;
  }

}
@media screen and (max-width:550px){
  .contact form .closeBtn{
    left: 95%;
  }
  .videos {

    height: 115vh;
  }
  .contact form{
    width: 90%;
    height: 85%;
  }
  .videos .container{
    justify-content: flex-start;
    transform: scale(1);
    top: auto;
    margin-top: 40px;
  }
  
  .videos iframe{
    width: 95%;
    height:  240px;
  }
  .more-videos,
  .more-videos span,
  .shopBtn,
  .shopBtn span,
  .mobileBookBtn,
  .mobileBookBtn span{
    cursor: pointer!important;
  }
  .videos .reseaux{
    display: none;
  }
  .videos .avis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.315);
    background-color: rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(3px);
  }
  .videos .avis h2, 
  .videos .avis span,
  .videos .avis .shopBtn{
    margin: 15px auto;
  }
  .videos .avis-reseaux ul{
    margin-top: 20px;
    padding: 0;
  }
  .videos .avis-reseaux li{
    padding: 0 15px;
  }
  .videos .avis-reseaux li img{
    opacity: 0.8;
  }
  .videos .avis-reseaux li img:hover{
    width: 30px;
    opacity: 1;
    cursor: pointer!important;
  }
  .contact .container{
    align-items: flex-start;
  }
  .cover{
    background-position-x: -500px;
  }
  .visuel{
    background-image: url(../img/Visuels/Tour\ mobile.png);
    
  }
  .cover .toWatchVideo{
    display: none;
  }
  .cover .logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 85%;
  }
  .cover .logo img{
    width: 90%;
  }
  
  .visuel img{
    width: 100%;
  }


  /*Tour*/


  .tours .more-less-dates-for-usa, 
  .tours .more-less-dates-for-europe{
  display: none;
  }
  

  .tours .usaTour, 
  .tours .europeTour{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%!important;
    margin-bottom: 50px;
  }
  .tours .usaTour .usa,
  .tours .europeTour .europe{
    width: 80%;
    height: 50px;
    padding: 0;
    font-size: 22px;
    transition: ease .90s;
  }
  .tours .usaTour .usa.expanded,
  .tours .europeTour .europe.expanded{
    
    border-bottom: 1px solid black;
  }
  .tours .usaTour .usa div,
  .tours .europeTour .europe div{
    color: #c95151;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer!important;
    left: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .50s;
  }
  .tours .europeTour .europe::after{
    content: "EUROPE";
  }
  .tours i{
    cursor: pointer!important;

  }
  .tours .usaTour .usa div.expanded,
  .tours .europeTour .europe div.expanded{
    transform: rotate(180deg);
  }
  .tours .customButton {
      display: none;
    }
    .mobileBookBtn{
      display: flex;
      margin-top: 0;
      box-shadow: 0px 4px 29px 5px rgba(0,0,0,0.20);
    }
    
  .tours .dates {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%!important;
    max-height: 0px;
    transition: all .50s;

  }
  .tours .dates.expanded {
    max-height: 5000px;
  }
  .tours .dates .date{
    width: 100%;
    margin: 10px 0 20px 0 ;
  }
}

@media screen and (max-width:500px){
  .videos {
    height: 140vh;
  }
  .videos .avis{
    padding: 20px;
  }
  .videos .avis h2{
    align-self: flex-start!important;
    margin: 20px 0!important;
  }
  .videos .avis-reseaux li{
    padding: 0 5px;
  }
}